<div class="signOff">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-lg-4">
      <p>&copy; 2014 Be Fit Yoga. All Rights Reserved.</p>
    </div>
    <div class="col-xs-12 col-sm-9 col-lg-6">
      <form action="mailto:lynn@befityogaprosper.com?subject=Newletter%20Signup" enctype="text/plain" method="post">
        Email newsletter <input name="Emmail" type="text" placeholder="Email address" id="Email" size="30">
        <input type="submit" name="Submit" value="Signup">
      </form>
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-2 text-right">
      <ul class="list-inline">
        <li><a href="https://www.facebook.com/befityoga"><i class="fa fa-facebook-square fa-2x"></i></a></li>
        <li><a href="https://plus.google.com/115410551084225392403/posts"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
      </ul>
    </div>
  </div>
</div>