<div class="promo-container">
  <div class="content-container">
    <div class="row">
      <div class="col-md-4 promo">
        <i class="fa fa-calendar fa-4x img-circle img-responsive"></i>
        <%= @home_left %>

      </div><!-- /feature -->
      <div class="col-md-4 promo">
        <i class="fa fa-dollar fa-4x"></i>
        <i class="fa fa-dollar fa-4x"></i>
        <i class="fa fa-dollar fa-4x"></i>
        <%= @home_middle %>
      </div><!-- /feature -->
      <div class="col-md-4 promo">
        <i class="fa fa-child fa-4x"></i>
        <%= @home_right %>
      </div><!-- /feature -->
    </div>


  </div>
</div>