<div class="promo-container">
  <div class="content-container">
    <div class="row">
      <div class="col-md-4 promo">
        <%= @home_left %>

      </div><!-- /feature -->
      <div class="col-md-4 promo">
        <%= @home_middle %>
      </div><!-- /feature -->
      <div class="col-md-4 promo">
        <%= @home_right %>
      </div><!-- /feature -->
    </div>


  </div>
</div>