<p><%= link_to(image_tag('https://s3.amazonaws.com/befityoga/img/promos/promo-prenatalyoga.jpg', class: 'img-responsive imgFloatRight'), 'http://www.befityogaprosper.com/services#prenatalyoga') %></p>
<p><%= link_to(image_tag('https://s3.amazonaws.com/befityoga/img/promos/promo-pricingspecials.jpg', class: 'img-responsive imgFloatRight'), 'http://www.befityogaprosper.com/pricing') %></p>