<div  class="contactInfo">
  <i class="fa fa-map-marker"></i> <a href="https://www.google.com/maps/place/821+N+Coleman+St+%23150/@33.2434613,-96.8030638,17z/data=!3m1!4b1!4m2!3m1!1s0x864c3f70086a0f2b:0x858a7a5176d2e359" target="_blank">821 N. Coleman St. Suite 150 Prosper, TX 75078</a><br>
  <i class="fa fa-phone"></i> 972-787-8085<br>
  <i class="fa fa-envelope-o"></i> <a href="mailto:befityogaprosper@gmail.com">befityogaprosper@gmail.com</a>
</div>